.education{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

    .rectangle {
        background-color: #DEAF1E;
        width: 15%;
        height: 50px;
        border-radius: 10px;
        position: relative;

        h1 {
            position: absolute;
            bottom: -25px;
            font-size: 36px;
            padding: 10px;
        }
    }
}