@import '../../app.scss';
.courses-container {

    padding-top: 20px;
    margin-bottom: 100px;

    @include mobile{
        padding-top: 50px;
    }

    .rectangle {
        background-color: #DEAF1E;
        width: 25%;
        height: 50px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 50px;
        margin-inline: auto;

        @include mobile{
            width: 70%;
        }

        h1 {
            position: absolute;
            bottom: -40px;
            font-size: 36px;
            padding: 17px;
            // text-align: center;
        }
    }


    .courses-and-workshops {
        padding-top: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // gap: 50px;

        @include mobile{
            flex-direction: column;
            padding-top: 10px;
        }
    }

}