@import '../../app.scss';

.projectsAndSkills {

    padding-top: 20px;
    margin-bottom: 120px;

    .rectangle {
        background-color: #DEAF1E;
        width: 25%;
        height: 50px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 50px;
        margin-inline: auto;
        
        @include mobile{
            width: 50%;
        }

        h1 {
            position: absolute;
            bottom: -25px;
            font-size: 36px;
            padding: 10px;
        }
    }

    .projectSkillsContainer {
        // height: 100%;
        // width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile{
            flex-direction: column;
        }

        .projects {
            // height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 20px;
            border-right: 2px solid #1B3C3E;

            @include mobile{
                flex-direction: column;
                border: 0;
                width: 100%;
            }
        }

        .skills {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            gap: 0 20px;
            // align-items: center;
            justify-content: center;

            .skill-field {
                display: flex;
                flex-direction: column;
                align-items: center;
                // width: 100%;
                gap: 10px;
                margin-bottom: 20px;

                h1 {
                    padding: 10px;
                    background-color: #1B3C3E;
                    color: #c4c4c4;
                    border: 3px solid #DEAF1E;
                    border-radius: 10px;
                    font-size: 18px;
                    width: 300px;
                    text-align: center;
                }

                div {
                    // width: 50%;
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 5px 20px;
                    p {
                        // text-align: center;
                        font-weight: 600;
                        // margin-bottom: 5px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}